In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",sheet_name="Transactions",skiprows=1)
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [3]:
transactions.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [4]:
transactions.nunique()

transaction_id             20000
product_id                   101
customer_id                 3494
transaction_date             364
online_order                   2
order_status                   2
brand                          6
product_line                   4
product_class                  3
product_size                   3
list_price                   296
standard_cost                103
product_first_sold_date      100
dtype: int64

In [5]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [6]:
transactions.shape

(20000, 13)

In [6]:
for col in transactions.columns :
    print(col)

transaction_id
product_id
customer_id
transaction_date
online_order
order_status
brand
product_line
product_class
product_size
list_price
standard_cost
product_first_sold_date

In [7]:
transactions.product_first_sold_date = pd.to_datetime(transactions.product_first_sold_date)

In [9]:
transactions.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [10]:
transactions = transactions.dropna(subset=["brand","product_line","product_class","product_size","standard_cost","product_first_sold_date"])

In [11]:
transactions.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               358
order_status                 0
brand                        0
product_line                 0
product_class                0
product_size                 0
list_price                   0
standard_cost                0
product_first_sold_date      0
dtype: int64

In [17]:
transactions.product_size.value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [16]:
transactions.product_class.value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [15]:
transactions.product_line.value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [13]:
transactions.order_status.value_counts()

Approved     19625
Cancelled      178
Name: order_status, dtype: int64

In [14]:
transactions.brand.value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [24]:
customer_demographic = pd.read_csv("customer_demographic.csv")

In [25]:
customer_demographic.columns

Index(['Unnamed: 0', 'customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'customer name'],
      dtype='object')

In [29]:
new_transactions = pd.merge(transactions, customer_demographic[["first_name","gender","customer_id"]], on='customer_id', how='left')

In [30]:
new_transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date', 'first_name', 'gender'],
      dtype='object')

In [31]:
new_transactions.to_csv("transactions.csv")

In [32]:
new_transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,first_name,gender
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,1970-01-01 00:00:00.000041245,Kristos,Male
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,1970-01-01 00:00:00.000041701,Lauree,Female
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1970-01-01 00:00:00.000036361,Berne,Male
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1970-01-01 00:00:00.000036145,Titus,Male
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,1970-01-01 00:00:00.000042226,Norma,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19798,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,1970-01-01 00:00:00.000037823,Matthiew,Male
19799,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,1970-01-01 00:00:00.000035560,Merrili,Female
19800,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,1970-01-01 00:00:00.000040410,Ola,Female
19801,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,1970-01-01 00:00:00.000038216,Callie,Female
19802,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,1970-01-01 00:00:00.000036334,Damon,Male

In [9]:
transactions.transaction_date.describe()

C:\Users\shour\AppData\Local\Temp\ipykernel_15152\3169172411.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  transactions.transaction_date.describe()

count                   20000
unique                    364
top       2017-02-14 00:00:00
freq                       82
first     2017-01-01 00:00:00
last      2017-12-30 00:00:00
Name: transaction_date, dtype: object

In [10]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [15]:
transactions[transactions.brand.isna() == True].isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order                 2
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [17]:
transactions[transactions.order_status == "Cancelled"]

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
42,43,76,488,2017-03-17,0.0,Cancelled,WeareA2B,Standard,low,medium,642.31,513.85,41922.0
138,139,32,2073,2017-03-25,0.0,Cancelled,Giant Bicycles,Standard,high,medium,1179.00,707.40,36833.0
249,250,48,1454,2017-11-25,0.0,Cancelled,WeareA2B,Standard,medium,medium,1762.96,950.52,35470.0
254,255,67,2801,2017-04-01,1.0,Cancelled,Norco Bicycles,Road,medium,medium,544.05,376.84,38647.0
583,584,43,1019,2017-09-13,1.0,Cancelled,Solex,Standard,medium,medium,1151.96,649.49,34071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,19406,79,1860,2017-05-29,0.0,Cancelled,Norco Bicycles,Standard,medium,medium,1555.58,818.01,42218.0
19409,19410,79,1771,2017-01-15,0.0,Cancelled,Norco Bicycles,Standard,medium,medium,1555.58,818.01,42226.0
19822,19823,3,2312,2017-12-02,0.0,Cancelled,Trek Bicycles,Standard,medium,large,2091.47,388.92,36361.0
19957,19958,56,2013,2017-06-04,1.0,Cancelled,OHM Cycles,Standard,medium,medium,183.86,137.90,34170.0
19989,19990,55,135,2017-01-27,1.0,Cancelled,Trek Bicycles,Road,medium,large,1894.19,598.76,37823.0

In [21]:
transactions.product_size.value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [22]:
transactions.list_price.describe()

count    20000.000000
mean      1107.829449
std        582.825242
min         12.010000
25%        575.270000
50%       1163.890000
75%       1635.300000
max       2091.470000
Name: list_price, dtype: float64

In [25]:
transactions[transactions.brand.isna() == True].product_id.value_counts()

0    197
Name: product_id, dtype: int64

In [26]:
transactions.standard_cost.describe()

count    19803.000000
mean       556.046951
std        405.955660
min          7.210000
25%        215.140000
50%        507.580000
75%        795.100000
max       1759.850000
Name: standard_cost, dtype: float64

In [27]:
transactions[transactions.list_price - transactions.standard_cost <= 0]

Empty DataFrame
Columns: [transaction_id, product_id, customer_id, transaction_date, online_order, order_status, brand, product_line, product_class, product_size, list_price, standard_cost, product_first_sold_date]
Index: []

In [28]:
transactions.product_first_sold_date

0        41245.0
1        41701.0
2        36361.0
3        36145.0
4        42226.0
          ...
19995    37823.0
19996    35560.0
19997    40410.0
19998    38216.0
19999    36334.0
Name: product_first_sold_date, Length: 20000, dtype: float64

In [30]:
transactions.customer_id.describe()

count    20000.000000
mean      1738.246050
std       1011.951046
min          1.000000
25%        857.750000
50%       1736.000000
75%       2613.000000
max       5034.000000
Name: customer_id, dtype: float64

In [32]:
transactions.product_id.value_counts()

0      1378
3       354
1       311
35      268
38      267
       ...
71      137
8       136
16      136
100     130
47      121
Name: product_id, Length: 101, dtype: int64

In [34]:
transactions[transactions.product_id == 0].isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order                26
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [36]:
transactions[transactions.duplicated()==True]

Empty DataFrame
Columns: [transaction_id, product_id, customer_id, transaction_date, online_order, order_status, brand, product_line, product_class, product_size, list_price, standard_cost, product_first_sold_date]
Index: []

In [42]:
transactions.customer_id.value_counts().sort_index()

1       11
2        3
3        8
4        2
5        6
        ..
3497     3
3498     6
3499     7
3500     6
5034     3
Name: customer_id, Length: 3494, dtype: int64